# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# Coverage
coverage/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db